.developer__page {
    margin-top: 50px;
    background: url("../../assets/images/background-img2.webp");
    background-position: top;
    background-size: cover;
    height: 100vh;
    flex: 1;
    display: grid;
    place-items: center;
}

.developer__page-text1 {
    text-align: center;
    padding: 10rem 1rem 1rem;
    font-family: "Bold", sans-serif;
    font-size: 3em;
    color: white;
    text-transform: uppercase;
}

.developer__page-text2 {
    text-align: center;
    font-family: "Thin", sans-serif;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
}
