/* FONTS */

@font-face {
  font-family: "Bold";
  src: url("../src/assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Medium";
  src: url("../src/assets/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Regular";
  src: url("../src/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Thin";
  src: url("../src/assets/fonts/Roboto-Thin.ttf");
}

/* GENERAL STYLES */

html {
  max-width: auto;
  min-width: 375px;
  height: 100%;
}

.content {
  margin-top: 50px;
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-family: "Regular", sans-serif;
  scroll-behavior: smooth;
}
